@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f8f5f1;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
  color: #1a1108;
}
